{% extends 'shop/main.html' %}
{% block content %}
<div class="container-fluid">
    <a href="{{request.META.HTTP_REFERER }}" class="btn btn-secondary my-2 rounded-pill"><i class="bi bi-arrow-left"></i><span><small class="mx-1"> Go back</small></span></a>
    <div class="row p-4 w-50 mx-auto">
        <img src="{{buyer.imageURL}}" alt="" class="rounded-circle text-center w-50 mx-auto" >
        <h3 class="text-center lead text-muted">{{buyer.firstname}} {{buyer.lastname}}</h3>
        <div class="flex">
            <a href="{% url 'shop:cart' %}"><i class="bi bi-cart3 btn btn-lg "></i></a>
            <span class="text-muted  ">Your cart</span>
        </div>

    </div>
</div>
{% endblock %}